@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.herobox {
  background-image: url('../../assets/background/night-city.jpg');
  height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7rem;
  z-index: 0;
  font-family: 'Rowdies', sans-serif;

  &__container {
    @include page-max-width;
    color: $color-white;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 75%;
  }

  &__left {
    font-weight: 700;
    text-align: right;
    position: relative;

    .web-dev {
      font-size: 2.2rem;
      // text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      letter-spacing: 0.1rem;
      width: fit-content;
      padding: 0 1rem;
      margin-left: auto;
      margin-bottom: 4rem;
      background: linear-gradient(
        120deg,
        transparent 25%,
        rgba($color-secondary, 0.4) 25%,
        rgba($color-secondary, 0.1) 95%,
        transparent 95%
      );
      animation: iamspeed 2s infinite cubic-bezier(0.73, -0.46, 0.92, 0.75);
    }
    .first-name,
    .last-name {
      display: block;
      font-size: 15rem;
      text-transform: uppercase;
      line-height: 15rem;
      z-index: 2;
      position: relative;
      color: $color-white;

      &::before {
        position: absolute;
        display: block;
        font-size: 15rem;
        text-transform: uppercase;
        line-height: 15rem;
        text-align: right;
        z-index: -1;
        color: $color-primary;
      }
    }
    .first-name::before {
      content: 'Dibbendu';
      top: 0.3rem;
      left: -0.3rem;
    }
    .last-name::before {
      content: 'Koley';
      top: 0.3rem;
      right: 0.3rem;
    }
  }
  &__right {
    border: 1px solid white;
    // padding: 10rem;
  }
}
