@import './variables';

@keyframes iamspeed {
  0% {
    background-position-x: 5rem;
  }
  100% {
    background-position-x: 25rem;
  }
}

@keyframes icon-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
