.artworks {
  height: 26rem;
}

.no-background {
  background: none !important;
}

.photos-background {
  background: var(--photo-section-bg-color);
}

.heading-font {
  font-family: 'Rowdies', sans-serif;
}
