@import './variables';

.artworks {
  height: 26rem;
}

.no-background {
  background: none !important;
}

.photos-background {
  // background: $photo-section-bg-color;
}

.heading-font {
  font-family: 'Rowdies', sans-serif;
}
