//colors
$color-primary: #ff1f9a;
$color-primary-dark: #52002d;
$color-primary-light: #ffa8d8;

$color-secondary: #0aa5ff;
$color-secondary-dark: #003452;
$color-secondary-light: #85d2ff;

$accent-color: #fffb1f;

//max width of whole page
$max-width: 1200px;

$color-light-grey: #e2e2e2;
$color-dark-grey: #2b2b2b;

$color-white: #ffffff;
$color-black: #111;
