:root {
  //colors
  --color-primary: #01054b;
  --color-secondary: #dbdc9a;

  //hero
  --hero-bg-color: #01054b;
  --hero-bg-image: linear-gradient(6deg, #01054b 0%, #1812ce 76%, #191192 100%);

  //header
  --header-bg-color: rgba(5, 13, 61, 0.8);


  //section
  --section-bg-color: rgb(248, 214, 228);
  
  //photos section
  --photo-section-bg-color: rgb(255, 255, 255);


  //max width of whole page
  --max-width: 1400px;

  --color-light-grey: #e2e2e2;
  --color-dark-grey: #2b2b2b;

  --color-white: #eee;
  --color-black: #111;
}
