:root {
  //colors
  --color-primary: #ff8d0f;
  --color-primary-dark: #ff6f16;
  --color-secondary: rgb(255, 211, 63);

  //hero
  // --hero-bg-color: rgb(255, 89, 67);
  // --hero-bg-image: linear-gradient(6deg, #01054b 0%, #1812ce 76%, #191192 100%);

  //header
  --header-bg-color: rgb(255, 89, 67);

  //section
  // --section-bg-color: rgb(248, 214, 228);

  //photos section
  // --photo-section-bg-color: rgb(255, 255, 255);

  //max width of whole page
  --max-width: 1200px;

  --color-light-grey: #e2e2e2;
  --color-dark-grey: #2b2b2b;

  --color-white: #ffffff;
  --color-black: #111;
}
