@use 'sass:color';
@import '../../styles/variables.scss';

.footer {
  font-size: 1.4rem;
  background: linear-gradient(to top, $color-black 10%, transparent);
  color: $color-white;
  padding: 2rem 0;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__left {
    border-left: 0.4rem solid $color-primary;
    padding: 1.2rem 0 1.2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__heading {
    color: color.adjust($color-primary, $lightness: 10%);
  }

  &__designed-by {
    font-weight: 600;
  }
}
