body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './styles/base.scss';
@import './styles/variables.scss';
@import './styles/animation.scss';
@import './styles/mixins.scss';
@import './styles/utility.scss';
